service firebase.storage {
  match /b/{bucket}/o {
    // Deny all read and write access
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}