service firebase.storage {
  // Define rules for accessing Firebase Storage
  match /b/{bucket}/o {
    // Deny all read and write access by default
    match /{allPaths=**} {
      // Allow read and write access for all paths
      allow read, write: if true;
    }
  }
}
